.container {
    padding-top: 50px;
    max-width: 760px;
}

.location-info {
    margin-top: 0;
}

.location-info li:last-child {
    font-size: 0.8em;
    margin-top: -5px;
}

.loader {
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -20px;
}